// src/components/sticker/colors.scss

$background-color-nazis: #57b2ff;
$background-color-filterblase: #3bab36;
$background-color-hetze: #ff63db;
$background-color-taeter: #Ff4700;
$background-color-kartoffel: #ffd400;
$background-color-herzen: #0580ff;
