// src/components/sticker/colors.scss

$background-color-nazis: #6FB1F9;
$background-color-filterblase: #5CA747;
$background-color-hetze: #ED6FD6;
$background-color-taeter: #EB5729;
$background-color-kartoffel: #F6D547;
$background-color-herzen: #387DF6;
