.markdown-container {
  padding: 20px;
  max-height: 80vh;
  max-width: 100vh;
  overflow-y: auto; /* Allows scrolling if content exceeds max-height */
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.markdown-container h1 {
  margin-bottom: 20px;
}

.teaser-box {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-left: 4px solid #007bff;
}

.markdown-container pre {
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word; /* Allows long words to be broken and wrap */
}
