.markdown-container {
  padding: 20px;
  max-height: 80vh;
  width: 80vw; /* Set a more appropriate width */
  overflow-y: auto; /* Allows scrolling if content exceeds max-height */
  margin: 0 auto 0 auto; 
  background-color: white;
  border-radius: 0px;
}

/* Add media query for mobile view */
@media (max-width: 600px) {
  .markdown-container {
    width: 95vw; /* Increase width for mobile view */
  }
}

.markdown-container h1 {
  margin-bottom: 20px;
}

.teaser-box {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-left: 4px solid #007bff;
}

.markdown-container pre {
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word; /* Allows long words to be broken and wrap */
}

.markdown-container img {
  max-width: 80%; /* Limit image width to 80% of the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  background-color: black; /* Blue background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get it to fit within inline flow */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 4px; /* Rounded corners */
  transition-duration: 0.4s; /* Animation duration */
}

.button-container button:hover {
  background-color: white; /* Background color on hover */
  color: black; /* Text color on hover */
}

.button-container button a {
  color: inherit; /* Ensure link text inherits color from button */
  text-decoration: none; /* Remove underline from link */
}

.button-container button a:hover {
  color: inherit; /* Ensure link text color changes with button on hover */
}
